* {
  margin: 0;
  padding: 0;
}
body{
    background-color: #f8faff;
}
/* Font */

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* banner */

.banner {
  background: url("./Assets/Hero-bg.png");
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 45px;
  font-weight: bold;
  color: black;
  margin-bottom: 35px;
}

/* nav bar */
.top-bar {
  position: absolute;
  top: 50px;
  left: 150px;
  right: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 35px;
  color: #4e47ff;
}

/* Button */

.signup-btn {
  padding: 12px 35px;
  background-color: #4e47ff;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
.focus-btn {
  padding: 12px 24px;
  background-color: #4e47ff;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}



/* Action  */

.action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 240px;
  max-width: 1140px;
  margin: auto;
  margin-top: 135px;
  margin-bottom: 135px;
}

.content {
  max-width: 500px;
}


.content-subtitle {
  color: #0000007c;
  font-size: 16px;
  margin-bottom: 20px;
}

/* Button Hover */
.signup-btn:hover {
  background-color: rgb(8, 8, 141);
  font-size: medium;
  color: lightgoldenrodyellow;
}

.focus-btn:hover {
  background-color: rgb(8, 8, 141);
  font-size: medium;
  color: lightgoldenrodyellow;
}


/* Mini bg image */
.wc-mini img {
  max-width: 403px;
  border-radius: 48px;
}

/* User SECTION */

.user-section {
  background-color: #cbcbf9;
  padding: 50px 0;
  border-radius: 30px;
  text-align: center;
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 130px;
}

.user-container {
  display: flex;
  justify-content: space-around;
  gap: 50px;
}



.user-box h3 {
  font-size: 45px;
  color: #4e47ff;
  margin-bottom: 10px;
}

.user-box p {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.616);
}



.feedback {
  padding: 50px 0;
  border-radius: 30px;
  text-align: center;
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 130px;
}

/* Cards */
.feedback-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: #ffffff;
  padding: 20px;
  border-radius: 15px;
  width: 325px;
  box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.136);
  text-align: left;
}

/* star */

.stars {
  color: gold;
  font-size: 18px;
  margin-bottom: 10px;
}
 /* sub cards */
.card h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.575);
  margin-bottom: 15px;
}

.reviewer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reviewer img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.reviewer strong {
  font-weight: 560px;
  font-size: 14px;
}

.reviewer p {
  margin: 0;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.69);
}


/* contact form */
.touch-section{
    margin-bottom: 130px;
    
    
}

.touch-container {
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
  background-color: #f8faff;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 120px;
}

.contact-text {
  margin-bottom: 20px;
}

.contact-text h2 {

  font-size: 50px;
  font-weight: bold;
  color: black;
  line-height: 1.4;
}

.contact-form {
  min-width: 490px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-form label {
  font-weight: 500;
  font-size: 14px;
  color: #504848;
}

.contact-form input,
.contact-form textarea {
  padding: 14px 16px;
  font-size: 14px;
  border: 1px solid #b7b4b4;
  border-radius: 10px;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
}

.contact-form button {
  margin-top: 10px;
  padding: 12px;
  background-color: #4e47ff;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  
}

.contact-form button:hover {
  background-color: rgb(8, 8, 141);
  font-size: medium;
  color: lightgoldenrodyellow;
}


/* Footer Section */


.footer {
  text-align: center;
  padding: 60px 20px 150px 20px;
  background-color: white;
  
  
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.footer-links a {
  color: #777474;
  text-decoration: none;
  font-weight: 550;
  
}

.footer-links a:hover {
  color: #0d00ff;
}


