 * {
     margin: 0;
     padding: 0;
 }



/* Font */

 .raleway-normal {
     font-family: "Raleway", sans-serif;
     font-optical-sizing: auto;
     font-weight: <weight>;
     font-style: normal;
 }
/* banner */

 .banner {
     background: url('/Assets/Hero-bg.png');
     height: 700px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;


 }

  .banner-title {
     font-size: 45px;
     font-weight: bold;
     color: black;
     margin-bottom: 25px;
 }



/* nav bar */
 .top-bar {
     position: absolute;
     top: 50px;
     left: 150px;
     right: 150px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .logo {
     font-weight: bold;
     font-size: 35px;
     color: #4E47FF;
 }

  /* Button */

 .signup-btn {
     padding: 12px 35px;
     background-color: #4E47FF;
     color: white;
     border: none;
     border-radius: 5px;
     font-weight: bold;
     cursor: pointer;
   
 }

  .focus-btn {
     padding: 12px 24px;
     background-color: #4E47FF;
     color: white;
     border: none;
     border-radius: 6px;
     font-weight: bold;
     cursor: pointer;
    
 }

 .banner-title {
     font-size: 2.5rem;
     font-weight: bold;
     color: #1A1A1A;
     margin-bottom: 25px;
 }

 /* Action  */

 .action {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 240px;
     max-width: 1140px;
     margin: auto;
     margin-top: 135px;
     margin-bottom: 135px; 
 }

 .content {
     max-width: 500px;
 }

 .content-title {
     font-size: 42px;
     font-weight: bold;
     color: black;
     margin-bottom: 18px;
 }

 .content-subtitle{
     color: #0000007f;
     font-size: 16px;
     margin-bottom: 20px;
 }

 /* Button Hover */
 .signup-btn:hover {
     background-color: purple;

 }

 .focus-btn:hover {
     background-color: purple;
 }

 /* Mini bg image */
 .wc-mini img {
     max-width: 403px;
     border-radius: 48px;

 }

 /* User SECTION */

 .user-section {
  background-color: #cbcbf9;
  padding: 50px 0;
  border-radius: 30px;
  text-align: center;
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 130px;
}

.user-container {
  display: flex;
  justify-content: space-around;
  gap: 50px;
}

/* sub tag */
.user-section h2 {
  font-size: 32px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.764);
  margin-bottom: 35px;
}



.user-box h3 {
  font-size: 45px;
  color: #4E47FF;
  margin-bottom: 10px;
}

.user-box p {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.616);
}
